.contactForm {
    background-color: #EFEFEF;
    padding-top: 60px;
    padding-bottom: 60px;
    background-size: 20px 20px;
    background-image: linear-gradient(to right, #c9c9c9 1px, transparent 1px), linear-gradient(to bottom, #c9c9c9 1px, transparent 1px);
}

.contactForm-wrapper {
    background-color: white;
    padding: 60px;

    form {
        h2 {
            margin-top: 0;
        }

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        > ul {
            margin-top: 35px;
        }

        li {
            margin-bottom: 15px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        .hide {
            display: none;
            opacity: 0;
        }

        input, select, textarea {
            border: 1px solid #d9d9d9;
            width: 100%;
        }

        input, select {
            padding: 10px;
            height: 40px;
        }

        textarea {
            resize: none;
            padding: 10px;
        }

        label {
            font-weight: bold;
            font-size: 14px;
        }
    }

    .buttons {
        margin-bottom: 0;

        input {
            width: auto;
            padding: 10px 35px;
            background-color: #733f45;
            color: white;
            border: none;
        }
    }
}

.contactForm-split_wrapper {
    @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;

        li {
            flex: 1 1 auto;

            &:first-child {
                margin-right: 15px;
            }
        }
    }
}