.workFrames-list {
    @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
    }
}

.workFrames {
    background-color: #733f45;
    color: white;
    padding-top: 60px;
    padding-bottom: 60px;
}

.workFrames h2 {
    margin: 0;
    margin-bottom: 15px;
}

.workFrames-list {
    list-style: none;
    padding: 0;

    @media (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -1em 0 1em -1em;
    }
}

.workFrames-list li {
    margin: 0;
    height: 250px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-bottom: 15px;
    position: relative;

    @media (min-width: 768px) {
        width: calc(33.3333% - 1em);
        margin: 1em 0 0 1em;
    }

    p {
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 0.08em;
        margin-top: 7px;
    }
}

.workFrames-list  {

    h3 {
        margin: 0;
        position: relative;
        z-index: 5;
    }

    a {
        display: block;
        text-decoration: none;
        height: 100%;
        color: currentColor;

        &:hover {
            .workFrames-item_shade {
                opacity: 1;
            }
        }
    }
}

.workFrames-item_shade {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: 0.3s opacity;
}
